<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <title>Administrador Transportes X</title>
  </head>
  <body>
    <header style="text-align: center;">
      <div class="holder">
        <img src="/images/logo.png" alt="Transportes X" width="100">
        <h1>Transportes X</h1>
      </div>
    </header>

  {{{body}}}

    <footer>
      <p>Diseñado por Gonzalo Arias - &copy;2023</p>
    </footer>
  </body>
</html>